
body {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("images/background.png");
  }

  label {
    display: block;
    text-align: center;
    margin-top: 20px;
  }

  p {
    color: #555555;
    margin: 0;
    padding: 0;
  }

  a {
    color: #555555;
    text-decoration: none;
  }

  .btn {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
  }
  .btn:hover {
    background-color: #5555;
    color: #ffffff;
  }
  